# **3.5.1 リスト内包表記**

In [1]:
# for文でリストを作成
number_list = []

for i in range(10):
    number_list.append(i**2)

number_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# リスト内包表記を使用してリストを作成
number_list = [i**2 for i in range(10)]

number_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 要素をフィルタリングする
number_list = [i**2 for i in range(10) if i % 2 == 0]

number_list

[0, 4, 16, 36, 64]

In [4]:
# ネストした内包表記
drinks = ['coffee', 'tea', 'Espresso']
sizes = ['S','M', 'L']
menu = [(drink, size) for drink in drinks for size in sizes]
menu

[('coffee', 'S'),
 ('coffee', 'M'),
 ('coffee', 'L'),
 ('tea', 'S'),
 ('tea', 'M'),
 ('tea', 'L'),
 ('Espresso', 'S'),
 ('Espresso', 'M'),
 ('Espresso', 'L')]

In [ ]:
# 同じ処理をfor文で書いた場合
menu = []
for drink in drinks:
    for size in sizes:
        menu.append((drink, size))

# **3.5.2 その他の内包表記**

In [6]:
# 集合内包表記
[i**2%10 for i in range(10)]

[0, 1, 4, 9, 6, 5, 6, 9, 4, 1]

In [7]:
{i**2%10 for i in range(10)}        # []を{}に変えるとset型の値を生成する

{0, 1, 4, 5, 6, 9}

In [8]:
# 辞書内包表記
{i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [10]:
# ジェネレータ式
g = (i**2 for i in range(5))
print(type(g))

for num in g:       # for文で値を返すときにi**2の結果が作成される
    print(num)

<class 'generator'>
0
1
4
9
16

# **3.5.3 内包表記、ジェネレータ:よくある使い方**

In [16]:
# mapとfilter関数から、内包表記へ置き換えた例
arr = [1.4, 2.0, 3.5, 2.25, 1.98]

list(map(round, arr))

[round(n) for n in arr]     # 上記mapを使用した処理を内包表記で置き換え

[1, 2, 4, 2, 2]

In [17]:
list(map(round, filter(lambda n : n > 2, arr)))

[round(n) for n in arr if n > 2]        # 上記mapとfilterを使用した処理を内包表記で置き換え

[4, 2]