In [7]:
from class_sample import User

user1 = User("寺田学", 35, "東京都台東区")  # インスタンス化
print(type(user1))
print(user1.name)
print(user1.age)

user1.increment_age()
print(user1.age)

user1.increment_age()
print(user1.age)

print(user1.start_name())

user2 = User("鈴木たかのり", 30, "東京都渋谷区")
print(user2.start_name())
print(user1.start_name())

<class 'class_sample.User'>
寺田学
35
36
37
寺
鈴
寺