# **4.4.1 基本文法**

In [1]:
# dataclassで宣言したクラスをインスタンス化
from dataclass_sample import User, FrozenUser

user = User("manabu", 50, "Chiba")
user

User(name='manabu', age=50, address='Chiba')

In [6]:
# 「frozen=True」とし、age属性の値の変更を試みる
from dataclass_sample import User, FrozenUser

user = User("manabu", 50, "Chiba")
user.age = 51
print(user)

frozen_User = FrozenUser("manabu", 50, "Chiba")
frozen_User.age = 51

User(name='manabu', age=51, address='Chiba')

FrozenInstanceError: cannot assign to field 'age'

# **4.4.2 コンストラクターの任意引数**

In [2]:
# 任意引数ありのdataclassをインスタンス化
from dataclass_sample import User2

user2 = User2("takanori", 40, "Tokyo")
print(user2)

user2_2 = User2("ryuji", 32, "Kanagawa", True)
print(user2_2)

User2(name='takanori', age=40, address='Tokyo', active=False)
User2(name='ryuji', age=32, address='Kanagawa', active=True)

# **4.4.3 データ変換**

In [4]:
# dataclassで宣言したオブジェクトをデータ型変換
from dataclass_sample import User
from dataclasses import asdict, astuple

user = User("manabu", 50, "Chiba")
print(user)
print(asdict(user))
print(astuple(user))

User(name='manabu', age=50, address='Chiba')
{'name': 'manabu', 'age': 50, 'address': 'Chiba'}
('manabu', 50, 'Chiba')