# **4.2.1 コンストラクター**

In [1]:
# コンストラクターを使ったインスタンス化
from class_sample1 import User

user = User("寺田学", 35, "東京都台東区")
print(user)
print(user.age)
print(user.start_name())

<class_sample1.User object at 0x7ea4929274c0>
35
寺

# **4.2.2 データ属性**

In [ ]:
# クラス変数へのアクセス
print(User.user_type)

None

In [ ]:
# インスタンス変数へのアクセス
user = User("寺田学", 35, "東京都台東区")
print(user.name)
print(user.age)

寺田学
35

# **4.2.3 メソッド**

In [ ]:
# インスタンスメソッドを実行
user = User("寺田学", 35, "東京都台東区")
print(user.age)

user.increment_age()
print(user.age)

user.increment_age()
print(user.age)

print(user.start_name())

35
36
37
寺

# **4.2.4 特殊メソッド**

In [3]:
# オブジェクトのprint
user = User("寺田学", 35, "東京都台東区")
print(user)

<class_sample1.User object at 0x7ea492926a70>

In [2]:
# print出力で確認
from class_sample2 import User2
user2 = User2("寺田学", 35, "東京都台東区")
print(user2)

<User2 id:139245298802816 name:寺田学>

In [4]:
# インスタンス化しlenを実行
from class_sample3 import User3
user3 = User3("寺田学", 35, "東京都台東区")
print(len(user3))

3

In [7]:
# 演算子の動作確認
from class_sample4 import User4
user4_1 = User4("寺田学", 35, "東京都台東区")
user4_2 = User4("鈴木たかのり", 30, "東京都千代田区")
user4_3 = User4("中村隼人", 35, "東京都渋谷区")

print(user4_1 == user4_2)
print(user4_1 == user4_3)

False
True

# **4.2.5 プロパティ化**

In [8]:
# インスタンスメソッドを実行
from class_sample5 import User5
user = User5("寺田学", 35, "東京都台東区")
user.start_name     # データ属性のようにカッコなしでアクセスする

'寺'

# **4.2.6 クラスメソッドの具体的な使い方**

In [10]:
# datetime型で指定の日時オブジェクトを作る
from datetime import datetime
dt = datetime(2021, 7, 22, 11, 15)
print(dt)
print(type(dt))

2021-07-22 11:15:00
<class 'datetime.datetime'>

In [11]:
# datetime型のクラスメソッドnow()で現在日時のオブジェクトを作る
dt_now = datetime.now()
print(dt_now)
print(type(dt_now))

2024-07-11 01:14:04.674931
<class 'datetime.datetime'>